
.open-sidebar-btn {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1100; 
}


.sidebar {
  width: 250px;
  transition: width 0.3s;
}

.sidebar-collapsed {
  width: 0;
  overflow: hidden;
}


.main-content {
  flex-grow: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.white-text {
  color: #adb5bd;
  text-decoration: none;
}


.white-text:hover {
  background-color: #6ec7d6;
}
.open-sidebar-btn {
  position: fixed;
  top: 3px;
  left: 7px;
  z-index: 1100;
  font-size: 22px;
  border: none;
  padding: 4px 10px;
  border-radius: 10px;
  background-color:rgb(180, 149, 115)
}
