<!-- Outside toggle button -->
<button class="btn btn-info open-sidebar-btn" (click)="toggleSidebar()">☰</button>

<div class="sidebar-container">
  <!-- Sidebar -->
  <div class="sidebar" [ngClass]="{'sidebar-collapsed': isSidebarCollapsed}">
    <div class="sidebar-header border-bottom">
      <br><br>
      <!-- <button class="btn btn-light toggle-btn" (click)="toggleSidebar()">☰</button> -->
      <!-- <h4 *ngIf="!isSidebarCollapsed" class="text-center py-2">Sidebar Menu</h4> -->
    </div>
    <ul class="sidebar-nav">
      <li class="nav-item mt-5">
        <a class="nav-link" routerLink="/life-cycle" routerLinkActive="active" >Life Cycle</a>
      </li><br>
      <li class="nav-item">
        <a class="nav-link" routerLink="/directive" routerLinkActive="active">Directives</a>
      </li><br>
      <li class="nav-item">
        <a class="nav-link" routerLink="/custom-directives" routerLinkActive="active">Custom Directives</a>
      </li><br>
      <li class="nav-item">
        <a class="nav-link" routerLink="/data-binding" routerLinkActive="active">Data Binding</a>
      </li><br>
      <li class="nav-item">
        <a routerLink="/parent" class="white-text">Parent-Child</a> |<br>
        <a [routerLink]="['/route', 'HelloFromRoute']" class="white-text">Route Communication</a>
      </li><br>      
      <li class="nav-item">
        <a class="nav-link" routerLink="/exception-handling" routerLinkActive="active">Exception-Handling</a>
      </li><br>
     
    </ul>
  </div>

  <!-- Content -->
  <div class="main-content" [ngStyle]="{'margin-left': isSidebarCollapsed ? '60px' : '250px'}">
    <router-outlet></router-outlet>
  </div>
</div>
