/* Outside toggle button styling */
.open-sidebar-btn {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1100; /* Above the sidebar */
}

/* Sidebar base */
.sidebar {
  width: 250px;
  transition: width 0.3s;
}

.sidebar-collapsed {
  width: 0;
  overflow: hidden;
}

/* Content area */
.main-content {
  flex-grow: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
}
/* Ensure the text is white */
.white-text {
  color: #adb5bd;
  text-decoration: none;
}

/* Change color on hover */
.white-text:hover {
  background-color: #6ec7d6;/* Adjust to your preferred hover color */
}
