<!-- <div class="register-container">
    <h2>Student Registration</h2>
    <input [(ngModel)]="studentName" placeholder="Name" />
    <input [(ngModel)]="studentID" placeholder="Student ID" />
    <button (click)="register()">Register</button>
  </div>
   -->

   <div class="register-container">
    <h2>Student Registration</h2>
    <input [(ngModel)]="studentName" placeholder="Name" />
    <input [(ngModel)]="studentID" placeholder="Student ID" />
    <input [(ngModel)]="maths" placeholder="Maths Marks" />
    <input [(ngModel)]="english" placeholder="English Marks" />
    <input [(ngModel)]="science" placeholder="Science Marks" />
    <button (click)="register()">Register</button>
  </div>
  